<?xml version="1.0"?>
<launch>
  <!-- Launch Gazebo  -->
  <include file="$(find mra7a_gazebo)/launch/mra7a_gazebo_world.launch" />   

  <!-- ros_control seven dof arm launch file -->
  <include file="$(find mra7a_gazebo)/launch/mra7a_gazebo_joint_state_controller.launch" />   

  <!-- ros_control position control dof arm launch file -->
  <!--<include file="$(find mra7a_gazebo)/launch/mra7a_gazebo_gazebo_position_controller.launch" />-->

  <!-- ros_control trajectory control dof arm launch file -->
  <include file="$(find mra7a_gazebo)/launch/mra7a_gazebo_trajectory_controller.launch" />    


<!--
 # The planning and execution components of MoveIt! configured to 
 # publish the current configuration of the robot (simulated or real)
 # and the current state of the world as seen by the planner
 <include file="$(find arm_moveit_config)/launch/move_group.launch">
  <arg name="publish_monitored_planning_scene" value="true" />
 </include>
 # The visualization component of MoveIt!
 <include file="$(find arm_moveit_config)/launch/moveit_rviz.launch"/>
-->

</launch>
