<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mra7a_gazebo_transmission" params="prefix">

    <transmission name="tran1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="tran2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="tran3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint3">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor3">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="tran4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint4">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor4">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="tran5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint5">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor5">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="tran6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint6">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor6">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="tran7">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="Joint7">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor7">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="tran8">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="right_gripper_Joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor8">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="tran9">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="left_gripper_Joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor9">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
